---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fabrica 3D | Contacto">
  <main class="flex w-full justify-center">
    <div class="max-w-screen-sm w-full font-medium text-white">
      <h2
        class="text-4xl font-medium text-black my-4 border-blue-950 border-b-8 border-r-8"
      >
        Contacto
      </h2>
      <a
        class="bg-black border-x-8 flex flex-1 justify-between md:bg-blue-950 md:border-x-0 p-4 px-8 rounded-full hover:bg-black duration-300 my-3 text-center items-center hover:border-x-8 border-sky-600 animate-shake animate-once animate-duration-800 animate-ease-linear"
        href="https://www.fabrica-3d.com.ar/"
        ><i class="fa-solid fa-cart-arrow-down"></i>Tienda online con precios
        exclusivos<i class="fa-solid fa-cart-arrow-down"></i></a
      >
      <a
        class="bg-black border-x-8 flex flex-1 justify-between md:bg-blue-950 md:border-x-0 p-4 px-8 rounded-full hover:bg-black duration-300 my-3 text-center items-center hover:border-x-8 border-sky-600 animate-shake animate-once animate-duration-800 animate-ease-linear"
        href="https://listado.mercadolibre.com.ar/_CustId_305607197"
        ><i class="fa-solid fa-cart-shopping"></i>Mercado libre<i
          class="fa-solid fa-cart-shopping"></i></a
      >
      <a
        class="bg-black border-x-8 flex flex-1 justify-between md:bg-blue-950 md:border-x-0 p-4 px-8 rounded-full hover:bg-black duration-300 my-3 text-center items-center hover:border-x-8 border-sky-600 animate-shake animate-once animate-duration-800 animate-ease-linear"
        href="https://walink.co/ea885a"
        ><i class="fa-brands fa-whatsapp"></i>WhatsApp<i
          class="fa-brands fa-whatsapp"></i></a
      >
      <a
        class="bg-black border-x-8 flex flex-1 justify-between md:bg-blue-950 md:border-x-0 p-4 px-8 rounded-full hover:bg-black duration-300 my-3 text-center items-center hover:border-x-8 border-sky-600 animate-shake animate-once animate-duration-800 animate-ease-linear"
        href="https://www.instagram.com/fabrica__3d/"
        ><i class="fa-brands fa-instagram"></i>Instagram<i
          class="fa-brands fa-instagram"></i></a
      >
      <a
        class="bg-black border-x-8 flex flex-1 justify-between md:bg-blue-950 md:border-x-0 p-4 px-8 rounded-full hover:bg-black duration-300 my-3 text-center items-center hover:border-x-8 border-sky-600 animate-shake animate-once animate-duration-800 animate-ease-linear"
        href="mailto:lazaro.efarinias@gmail.com"
        ><i class="fa-regular fa-envelope"> </i>E-mail<i
          class="fa-regular fa-envelope"></i></a
      >
    </div>
  </main>
</Layout>
