<div class="fixed mx-4 text-2xl object-center text-white bg-zinc-800 rounded-2xl p-10 flex flex-col justify-center items-center text-center animate-jump-out animate-once animate-duration-[800ms] animate-delay-[2000ms] animate-ease-linear">
    <p>No olvides visitar nuestra tienda!</p>
    <a href="https://fabrica-3d.com.ar/" class="bg-blue-950 p-4 rounded-lg mt-4 hover:bg-black duration-300">15% de descuento <i class="fa-solid fa-gift"></i></a>
  </div>
